# Output files
*.docx
!template.docx
!bao-cao.docx
*.pdf
!slides/ocr-presentation-styled.pdf

# Temporary files
*.tmp
*~

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Node
node_modules/
package-lock.json
